version: "3.9"

services:
  backend:
    container_name: backend_api
    build:
      context: ./backend
      dockerfile: DockerFile
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    restart: unless-stopped
