PORT = 5000

# Frontend URL
FRONTEND_URL = http://localhost:3000

# Database config
MONGO_URI = mongodb+srv://mindNotesAdmin:PiQDjWD5NMenHFyX@cluster0.3zrmpaz.mongodb.net/?
NAME_DB = Mind-NotesDB

# JWT Secret
JWT_SECRET = efectoAmbisiosa

# Hugging Face (IA)
HF_TOKEN=null # Token que se pone en pyannote

# Services URL
TRANSCRIPTION_SERVICE_URL = http://localhost:9001
DIARIZATION_SERVICE_URL = http://localhost:9002
SUMCLASS_SERVICE_URL = http://localhost:9003

# Email Service
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=mindnotesceti@gmail.com
SMTP_PASSWORD=szyp sbgj vxjp vkuv
EMAIL_FROM=MindNotes <noreply@mindnotes.com>