PORT = null

# Frontend URL
FRONTEND_URL = null

# Database config
MONGO_URI = null
NAME_DB = null

# JWT Secret
JWT_SECRET = null

# Hugging Face (IA)
HF_TOKEN=null # Token que se pone en pyannote

# Services URL
TRANSCRIPTION_SERVICE_URL = null
DIARIZATION_SERVICE_URL = null
SUMCLASS_SERVICE_URL = null

# Email Service
SMTP_HOST=null
SMTP_PORT=null
SMTP_USER=null
SMTP_PASSWORD=null
EMAIL_FROM=null