PORT = 5000

# Frontend URL
FRONTEND_URL = http://localhost:3000

# Database config
MONGO_URI = null
NAME_DB = null

# JWT Secret
JWT_SECRET = null

# Access Expiration Time 
ACCESS_TTL_MS=null
REFRESH_TTL_MS=null
ACCESS_SECRET=null
REFRESH_SECRET=null

# Hugging Face (IA)
HF_TOKEN=null # Token que se pone en pyannote  
AI_TOKEN=null

# Services URL
TRANSCRIPTION_SERVICE_URL = http://localhost:9001
DIARIZATION_SERVICE_URL = http://localhost:9002
SUMCLASS_SERVICE_URL = http://localhost:9003

# Email Service
SMTP_HOST=null
SMTP_PORT=null
SMTP_USER=null
SMTP_PASSWORD=null
EMAIL_FROM=null

# Google OAuth2
GOOGLE_CLIENT_ID=null   
GOOGLE_CLIENT_SECRET=null
GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback

# Stripe
STRIPE_SECRET_KEY=null
STRIPE_PUBLISHABLE_KEY=null
STRIPE_WEBHOOK_SECRET=null