.addqr
{
    height: 566px;
    width: 692px;
    background-color: #F2EFE7;
    box-shadow: 0px 4px 4px #48A6A7;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cancel-addqr{
    width: 180;
    height: 73;
    background-color: #9ACBD0;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-family: 'Saira';
    font-size: 25px;
    color: black;
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.cancel-addqr:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(102, 126, 234, 0.3);
}

.cancel-addqr:active {
  transform: translateY(0);
}

.img-addqr{
    max-width: 50%;
    margin-bottom: 30px;
}

.title-addqr{
    font-family: 'Saira';
    font-size: 40px;
    color: black;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 15px;
}


@font-face {
  font-family: 'Saira';
  src: url('../fonts/Saira.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 100 900; 
}