.AudioMenu
{
    height: 396px;
    width: 694px;
    border-radius: 20px;
    background-color: #9ACBD0;
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
}

.titleAudio
{
    font-family: 'Saira';
    font-size: 25px;
    font-weight: 400;
    color: black;
}

.custom-select {
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: rgba(41, 115, 178, 0.5);
    padding-left: 15px;
    width: 100%;
    margin-bottom: 30px;
}

.select-trigger {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  border: none;
  outline: none;
}

.select-options {
  position: absolute;
  background: rgba(41, 115, 178, 1);
  width: 90%;
  list-style: none;
  padding: 0;
  margin: 5px 0 0;
  border: 1px solid #ddd;
  border-radius: 20px;
}

.select-options li {
  display: flex;
  align-items: center;
  width: 90%;
  height: 60px;
  gap: 10px;
  padding: 8px;
  cursor: pointer;
}

.avatar {
  height: 85%;
  border-radius: 50%;
}

.radioBtns
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
}

.accept-button{
    width: 40%;
    height: 73px;
    background-color: #2973B2;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-family: 'Saira';
    font-size: 25px;
    color: white;
    font-weight: 800;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 10px;
    align-self: center;
}

.accept-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(102, 126, 234, 0.3);
}

.accept-button:active {
  transform: translateY(0);
}

.offScreen{
    position: absolute;
    left: -999999999999999999px;
}

.radioA
{
    width: 43px;
    height: 43px;
    background-color: #F2EFE7;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radioA::after
{
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: transparent;
    transition: all 0.4s;
}

input[type='checkbox']:checked + .radioA::after
{
    background-color: #2973B2;
}

input[type='checkbox']:checked + .radioA
{
    background-color: #F2EFE7;
}

.radioBtn{
    display: flex;
    gap: 10px;
}

@font-face {
  font-family: 'Saira';
  src: url('../fonts/Saira.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 100 900; 
}