.bubble
{
    height: auto;
    width: auto;
    max-width: 60%;
    border-radius: 20px;
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.send
{
    background-color: #2973B2;
    color: #F2EFE7;
    font-family: 'Saira';
    font-weight: 400;
    font-size: 20px;
    align-self: end;
    justify-content: end;
}

.received
{
    background-color: #9ACBD0;
    color: black;
    font-family: 'Saira';
    font-weight: 400;
    align-self: start;
    font-size: 20px;
}

@font-face {
  font-family: 'Saira';
  src: url('../fonts/Saira.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 100 900; 
}