.chatbox {
    display: flex;
    height: 90px;
    width: 100%;
    border-radius: 20px;
    background-color: #9ACBD0;
}

.chatbox-activo {
    display: flex;
    height: 90px;
    width: 100%;
    border-radius: 20px;
    background-color: #2973B2;
}

.img-chatbox {
    align-self: center;
    justify-self: center;
    max-height: 80%;
    aspect-ratio: 1;
    object-fit: cover;
    overflow: hidden;
    margin-left: 15px;
    border-radius: 50px;
}

.div-textchatbox {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    margin-left: 15px;
    min-width: 0;
    flex: 1;
}

.text-chatbox-name {
    font-family: 'Saira';
    color: black;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.1;
}

.text-chatbox-message {
    font-family: 'Saira';
    font-size: 18px;
    color: black;
    font-weight: 300;
}

@font-face {
    font-family: 'Saira';
    src: url('../fonts/Saira.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 1024px) {

    .chatbox,
    .chatbox-activo {
        height: 80px;
    }

    .text-chatbox-name {
        font-size: 22px;
    }

    .text-chatbox-message {
        font-size: 18px;
    }

    .img-chatbox {
        margin-left: 12px;
        max-height: 75%;
    }

    .div-textchatbox {
        margin-left: 12px;
    }
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 768px) {

    .chatbox,
    .chatbox-activo {
        height: 75px;
    }

    .text-chatbox-name {
        font-size: 20px;
    }

    .text-chatbox-message {
        font-size: 16px;
    }

    .img-chatbox {
        margin-left: 10px;
        max-height: 70%;
    }

    .div-textchatbox {
        margin-left: 10px;
    }
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* @media (max-width: 480px) {

    .chatbox,
    .chatbox-activo {
        height: 70px;
    }

    .text-chatbox-name {
        font-size: 18px;
    }

    .text-chatbox-message {
        font-size: 15px;
    }

    .img-chatbox {
        max-height: 65%;
    }
} */