.deletemenu
{
    height: 246px;
    width: 658px;
    background-color: #F2EFE7;
    box-shadow: 0px 4px 4px #48A6A7;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
}

.accept-button{
    width: 180;
    height: 73;
    background-color: #9ACBD0;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-family: 'Saira';
    font-size: 25px;
    color: black;
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 10px;
}

.accept-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(102, 126, 234, 0.3);
}

.accept-button:active {
  transform: translateY(0);
}


.title-deletemenu{
    font-family: 'Saira';
    font-size: 29px;
    color: black;
    font-weight: 400;
    margin-top: 20px;
    align-self: flex-start;
}

.subtutle
{
    font-family: 'Saira';
    font-size: 20px;
    color: black;
    font-weight: 200;
    margin-bottom: 35px;
    align-self: flex-start;
}

.cancel-button
{
    width: 180;
    height: 73;
    background-color: transparent;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-family: 'Saira';
    font-size: 25px;
    color: black;
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.cancel-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(102, 126, 234, 0.3);
  background-color: #2973B2;
  color: white;
}

.cancel-button:active {
  transform: translateY(0);
}

.buttons
{
    align-self: flex-end;
    gap: 20px;
}


@font-face {
  font-family: 'Saira';
  src: url('../fonts/Saira.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 100 900; 
}