.eliminar-btn{
    display: flex;
    height: auto;
    width: auto;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    font-family: 'Saira';
    color: #FF1F1F;
    font-size: 24px;
    font-weight: 100;
    align-items: center;    
    gap: 5px;
}

.image-eliminar{
    height: 45px;
    width: 45px;
    align-self: center;
    justify-self: center;
}

.eliminartxt
{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: 'Saira';
  src: url('../fonts/Saira.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 100 900; 
}