.horario
{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    padding: 30px;
}

.titleHorario
{
    font-family: 'Saira';
    font-weight: 800;
    color: black;
    font-size: 25px;
}

@font-face {
  font-family: 'Saira';
  src: url('../fonts/Saira.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 100 900; 
}
/*  */
@media (max-width: 1024px) {

    .horario {
        padding: 25px;
    }

    .titleHorario {
        font-size: 30px;
    }

}
/* ----------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 768px) {

    .horario {
        padding: 25px;
        margin-bottom: 10%;
    }

    .titleHorario {
        font-size: 25px;
    }

}
/* ----------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 480px) {

    .horario {
        padding: 20px;
        margin-bottom: 15%;
    }

    .titleHorario {
        font-size: 19px;
    }

}