.horarioItem
{
    width: 100%;
    height: auto;
    align-self: center;
    font-family: 'Saira';
    font-weight: 400;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.showTime
{
    display: flex;
    flex-direction: row;
    width: 60%;
    align-items: center;
    justify-content: space-between;
    visibility: visible;
}

.hideTime
{
    visibility: hidden;
    width: 60%;
    height: 60px;
}

@font-face {
  font-family: 'Saira';
  src: url('../fonts/Saira.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
}

/*  */
@media (max-width: 1024px) {

    .horarioItem {
        font-size: 20px;
    }

    .showTime,
    .hideTime {
        width: 65%;
    }

}
/*  */
@media (max-width: 768px) {

    .horarioItem {
        font-size: 20px;
    }

    .showTime,
    .hideTime {
        width: 70%;
    }

}
/*  */
@media (max-width: 480px) {

    .horarioItem {
        width: 80%;
        font-size: 20px;
        margin-right: -20vw;
    }

    .showTime,
    .hideTime {
        width: 5%;
    }

}