.menuPa
{
    height: 100%;
    width: 112px;
    background-color: rgba(41, 115, 178, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

.paMendiv
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 112px;
}

.svgPa
{
    width: 50%;
}

.svgPa:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(102, 126, 234, 0.3);
}

.svgPa:active {
  transform: translateY(0);
}

.selectedPa
{
  background-color: #48A6A7;
  border-radius: 10px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */
/*Responsive 768*/
@media (max-width: 768px) {
    .menuPa {
        width: 100%;
        height: 80px;
        flex-direction: row;
        padding: 0 20px;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .paMendiv {
        flex-direction: row;
        width: auto;
        gap: 20px;
    }

    .svgPa {
        width: 40px;
    }

    .selectedPa {
        border-radius: 10px;
        padding: 6px;
    }
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------------------------------- */

