.App {
  min-height: 100vh;
  background: #F2EFE7;
}

.first {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(41, 115, 178, 0.60);
  color: #FFF;
  font-family: Saira;
  padding: 5%;
  gap: 3rem;
}

.first h3 {
  font-size: 32px;
}

.p-QueEsMindNotes {
  max-width: 600px;
  font-size: 20px;
}

.imgNosotros {
  width: 400px;
  max-width: 100%;
}

.separator{
  width: 0;
  height: 0;
  border-left: 99vw solid transparent;
  border-bottom: 13.9vw solid #F2EFE7;
  margin-top: -13.8vw;
}

.second {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F2EFE7;
  color: #2973B2;
  font-family: Saira;
  padding: 5%;
  gap: 3rem;
}

.second h3 {
  font-size: 32px;
}

.p-Mision {
  max-width: 600px;
  font-size: 20px;
  text-align: right;
}

.imgMision {
  width: 400px;
  max-width: 100%;
}

.third {
  background-image: url('src/images/visionBack.png');
  background-size: cover;
  background-position: center;
  min-height: 60vh;
  width: 100%;
  padding: 8%;

  color: #FFF;
  text-align: center;
  font-family: Saira;
  font-size: 32px;
}


@media (max-width: 768px) {

  .first,
  .second {
    flex-direction: column;
    text-align: center;
  }

  .p-Mision {
    text-align: center;
  }

  .imgNosotros,
  .imgMision {
    width: 80%;
    margin-top: 2rem;
  }

  .third {
    font-size: 22px;
    padding: 12% 5%;
  }
}
