.chatPsiF
{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin: 0;
}

.nameVarCon
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
}

.chatCon
{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin: 0;
    height: 100%;
    width: 100%;
}

.chatView
{
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: #F2EFE7;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.textBarChat
{
    display: flex;
    flex-shrink: 0;
    width: 100%;
    height: auto;
    margin: 0;
    position: relative;
}

.showSuppMenu
{
    position: absolute;
    transform: translateY(-180px) translateX(0px);
    visibility: visible;
}

.hideSuppMenu
{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; 
}

.bubbles
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
    overflow-y: auto;
    max-height: 88%;
}

.bubbles::-webkit-scrollbar
{
    width: 0px; 
    height: 0px; 
}
