.doc
{
    width: 100%;
    background-color: #F2EFE7;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
    position: relative;
}

.cursorbrush
{
    cursor: crosshair;
}

.hoja
{
    height: 867px;
    width: 650px;
    background-color: #DFDFDF;
    margin-bottom: 30px;
    margin-top: 30px;
    flex-shrink: 0;
    color: #000;
    font-family: 'Saira';
    font-weight: 400;
    font-size: 15px;
    padding: 20px;
}

.doc::-webkit-scrollbar
{
    width: 1px; 
    height: 1px; 
}

.docBtn
{
    width: 185px;
    height: 45px;
    border-radius: 20px;
    background-color: #2973B2;
    border: none;
    color: white;
    font-family: 'Saira';
    font-weight: 600;
    font-size: 20px;
    margin: 5px;
}

.efectBtn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(102, 126, 234, 0.3);
}

.efectBtn:active {
  transform: translateY(0);
}

.btnsDoc
{
    position: sticky;
    display: flex;
    flex-direction: column;
    left: 1400px;
    bottom: 800px;
}

.switchDoc
{
    position: sticky;
    display: flex;
    flex-direction: row;
    right: 1300px;
    bottom: 450px;
    height: 41px;
    width: 175px;
    border-radius: 10px;
    background-color: #2973B2;
    justify-content: space-around;
    align-items: center;
}

.svgDoc1
{
    height: 80%;
    transform: rotate(90deg);
    z-index: 5;
}

.selectedTool
{
    height: 80%;
    width: 30%;
    background-color: rgba(154, 203, 208, 0.5);
    border-radius: 10px;
    position: absolute;
    right: 60%;
    transition: all 0.4s;
}

.movemove
{
    translate: 170%;
    transition: all 0.4s;
}

@font-face {
  font-family: 'Saira';
  src: url('../fonts/Saira.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 100 900; 
}