.grabadora
{
    height: 100vh;
    width: 100vw;
    background-color: #F2EFE7;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
}

.notRecord
{
    height: 86px;
    width: 86px;
    border-radius: 100%;
    background-color: #F62E2E;
    border-color: white;
    border-width: 24px;
    border-style: solid;
    transition: all 0.4s;
    margin-top: 50px;
}

.recording
{
    border-width: 10px;
    transition: all 0.4s;
}

.audio
{
    height: auto;
    width: 100%;
}

