.Login{
    margin: 0;
    padding: 0;
    font-family: Saira;
}

.loginContainer{
    position: relative;
    align-items: center;
    min-height: 100vh;
    background: #F2EFE7;
    overflow: hidden;
}

.formBox{
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    color: #333;
    text-align: center;
    padding: 40px;
    z-index: 1;
    background: #F2EFE7;
    transition: all .6s ease-in-out 1.2s, visibility 0s linear 1s;
}

.loginContainer.password .formBox{
    right: 50%;
}

.loginContainer.register .formBox{
    right: 50%;
}

form{
    width: 100%;
}

.div-titleLogin{
    width: 100%;
    height: 102px;
    border-radius: 20px;
    background: #9ACBD0;
    margin-left: 9%;
    margin-bottom: 40px;
    padding-top: 1%;
}

.label-recordarUsuario{
    width: 100%;
    height: 102px;
    border-radius: 20px;
    background: #9ACBD0;
    margin-left: 9%;
    padding-top: 1%;
}

.div-titleRegister{
    width: 100%;
    height: 102px;
    border-radius: 20px;
    background: #9ACBD0;
    margin-right: 9%;
    padding-top: 1%;
}

.div-titlePassword{
    width: 100%;
    height: 102px;
    border-radius: 20px;
    background: #2973B2;
    margin-right: 9%;
    padding-top: 2%;
    margin-bottom: 120px;
}

.login-title{
    color: #0A0A0E;
    font-family: Saira;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.register-title{
    color: #0A0A0E;
    font-family: Saira;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.p-switch{
    margin-bottom: 2px;
    text-align: left;
    margin-left: 12%;
}



.inputBox{
    position: relative;
    margin: 15px 0;
}

.inputBox input{
    width: 542px;
    height: 60px;
    padding: 13px 50px 13px 20px;
    border-radius: 20px;
    background: var(--Principal, #B6CAD7);
    border: none;
    outline: none;
    font-size: 20px;
    color: #353535;
    font-weight: 500;
}

.inputBox input::placeholder{
    color: #8C8A8A;
    font-weight: 400;
}

.forgotLink{
    margin: -15px 0 15px;
}

.forgotLink a{
color: #2C2C2C;
font-family: Saira;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
}

.btn{
    width: 542px;
    height: 70px;
    border-radius: 20px;
    opacity: 0.7;
    background: var(--Btn1, #48A6A7);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border: none;
    margin-top: 15px;

    color: #000;
    text-align: center;
    font-family: Saira;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn.register{
    margin-top: 10px;
}

.btn.password{
    border-radius: 20px;
    opacity: 0.7;
    background: var(--Principal, #2973B2);
}

.input-recordarUsuario{
    margin-bottom: 30px;
}

.div-links{
    display: grid; 
    height: 9vw;
    width: 100%;
    font-family: 'Saira';
    padding: 2vw;
    /* background: #48A6A7; */
    align-items: center;
    justify-content: end;
    gap: 3%;
    grid-template-columns: 1fr 1fr;
}

.loginContainer p{
    color: #2C2C2C;
    font-family: Saira;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.div-google a{
    display: inline-flex;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 30px;
    font-size: 24px;
    color: #000;
    text-decoration: none;
    margin: 10px 8px;
}

/*REGISTRO*/
.formBox{
    visibility: hidden;
}

.loginContainer.login .formBox.login,
.loginContainer.register .formBox.register,
.loginContainer.password .formBox.password{
    visibility: visible;
}

.toggle-box{
    position: absolute;
    width: 100%;
    height: 100%;
}

.toggle-box::before{
    content: '';
    position: absolute;
    left: -250%;
    width: 300%;
    height: 100%;
    background: #2973B2;
    z-index: 2 ;
    border-radius: 100px;
    transition: left 1.8s ease-in-out,
        background-color 0.8s ease-in-out;
}

.loginContainer.password .toggle-box::before {
    left: 50%;
    background-color: #48A6A7; /* verde */
}

.loginContainer.password .btn.login{
    background-color: #2973B2;
}

.loginContainer.register .toggle-box::before{
    left: 50%;
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: .6s ease-in-out;
}

.toggle-panel.toggle-left{
    left: 0;
    transition-delay: 1.2s;
}

/*Mueve el saludo del panel a la izquierda (sale de la pantalla)*/
.loginContainer.register .toggle-panel.toggle-left{
    left: -50%;
    transition-delay: .6s;
}

/*Mueve el saludo del panel a la izquierda (sale de la pantalla)*/
.loginContainer.password .toggle-panel.toggle-left{
    left: -50%;
    transition-delay: .6s;
}

.toggle-panel.toggle-right{
    right: -50%;
    transition-delay: .6s;
}

/*Mueve el saludo del panel a la derecha (sale de la pantalla)*/
.loginContainer.register .toggle-panel.toggle-right{
    right: 0;
    transition-delay: 1.2s;
}

/*Mueve el saludo del panel a la derecha (sale de la pantalla)*/
.loginContainer.password .toggle-panel.toggle-right{
    right: 0;
    transition-delay: 1.2s;
}

.title-saludo{
    color: var(--Background1, #F2EFE7);
    font-family: Saira;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.toggle-panel p{
    margin-bottom: 20px;
    color: #F2EFE7;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-toggleRegistrar{
    width: 450px;
    height: 70px;
    border-radius: 20px;
    opacity: 0.7;
    background: var(--Btn2, #9ACBD0);
    border: none;

    color: var(--Background1, #F2EFE7);
    text-align: center;
    font-family: Saira;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/**/
.password-title{
    color: var(--Background1, #F2EFE7);
    font-family: Saira;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/**/