.menuFullCon
{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
}

.hidenMenu
{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; 
}

.showQr
{
    visibility: visible;
    position: absolute;
    transform: translateY(200px) translateX(300px);
    z-index: 100; 
}

.showUID
{
    visibility: visible;
    position: absolute;
    transform: translateY(740px) translateX(125px);
    z-index: 100; 
}