.perfilPsiF
{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: #F2EFE7;
    position: relative;
}

.hiddeDelMenuP
{
    position: absolute;
    display: none;

}

.showDelMenuP
{
    position: absolute;
    z-index: 10;
    top: 250px;
    left: 200px;
}